<h1>Employee profile:</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Job</th>
     </tr>
   </thead>
  <tbody>
   {{ range . }}
     <tr>
       <td>{{.Id}}</td>
       <td>{{.Name}}</td>
       <td>{{.Age}}</td>
       <td>{{.Email}}</td>
       <td>{{.Job}}</td>
     </tr>
   {{end}}
  </tbody>
</table>

<a href="/persons/new">Create new person</a>
