<a href="/">Return to index</a>

<form action="/persons" method="POST">
  <div>
    <label for="person[name]">Name: </label>
    <input type="text" name="person[name]" required/>
  </div>

  <div>
    <label for="person[age]">Age: </label>
    <input type="number" name="person[age]" required/>
  </div>

  <div>
    <label for="person[email]">Email: </label>
    <input type="email" name="person[email]" required/>
  </div>

  <div>
    <label for="person[job]">Job: </label>
    <input type="text" name="person[job]" required/>
  </div>

  <div><input type="submit" value="Save me"></div>
</form>
